<h1>Search</h1>

<article class="search" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
   <header>
      <h1>Search Settings</h1>
   </header>

   <section class="search-config grid-3">
      <header>
         <h2>Talkgroup Filtering</h2>
      </header>

      <select multiple size="7" ng-model="settings.talkgroups">
         <option value="{{key}}" ng-repeat="(key, value) in talkgroupIds">
            {{key}} &mdash; {{value}}
         </option>
      </select>
   </section>

   <section class="search-config grid-3">
      <header>
         <h2>Radio Filtering</h2>
      </header>

      <select multiple size="7" ng-model="settings.radios">
         <option value="{{key}}" ng-repeat="(key, value) in radioIds">
            {{key}} &mdash; {{value}}
         </option>
      </select>
   </section>

   <section class="search-config grid-3">
      <header>
         <h2>Other Filtering</h2>
      </header>

      <input type="radio" value="any" id="favourite-any" name="favourite" checked ng-model="settings.favourite">
      <label for="favourite-any">Any</label>

      <input type="radio" value="yes" id="favourite-yes" name="favourite" checked ng-model="settings.favourite">
      <label for="favourite-yes">Favourite</label>

      <input type="radio" value="no" id="favourite-no" name="favourite" checked ng-model="settings.favourite">
      <label for="favourite-no">Not Favourite</label>

      <br><br>

      <label for="minLength">Minimum Recording Length:</label>
      <input type="number" min="0.0" step="0.1" id="minLength" ng-model="settings.minLength" style="width: 50px;" />

      <br><br>

      <input type="radio" value="DESC" id="sort-desc" name="sort" checked ng-model="settings.sort">
      <label for="sort-desc">Newest First</label>

      <input type="radio" value="ASC" id="sort-asc" name="sort" checked ng-model="settings.sort">
      <label for="sort-asc">Oldest First</label>
   </section>

   <section class="search-config grid-3">
      <header>
         <h2>Start Date</h2>
      </header>

      <div date-picker="settings.startDate"></div>
   </section>

   <section class="search-config grid-3">
      <header>
         <h2>End Date</h2>
      </header>

      <div date-picker="settings.endDate"></div>
   </section>

   <section style="clear: both; padding-top: 10px;">
      <input type="submit" value="Search" ng-click="search()" style="font-size: 0.8em">
   </section>

<!--   <label for="talkgroup">Talkgroup:</label>
   <combobox type="number" options="talkgroupIds" ng-model="settings.talkgroup" />

   <br /></br />

   <label for="radio">Radio:</label>
   <combobox type="number" options="radioIds" ng-model="settings.radio" />

   <br /></br />

   <label for="isFavourite">Favourite:</label>
   <select id="isFavourite" ng-model="settings.favourite">
      <option value="any">Any</option>
      <option value="yes">Favourite</option>
      <option value="no">Not Favourite</option>
   </select>

   <br /> <br />

   <label for="minLength">Minimum Length (seconds):</label>
   <input type="number" min="0.0" step="0.1" id="minLength" ng-model="settings.minLength" />

   <br /> <br />

   <label for="sortOrder">Sort:</label>
   <select id="sortOrder" ng-model="settings.sort">
      <option value="DESC">Newest First</option>
      <option value="ASC">Oldest First</option>
   </select>

   <p style="font-size: 0.9em; color: #666">To filter by date/time, a start and end time must be provided.
      <br />Unless filtering by date/time, limited results are returned. For a full set of results, add a start and end date/time.</p>

   <div style="display: inline-block">
      <label for="startDate">Start Date/Time:</label>
      <div date-picker="settings.startDate"></div>
   </div>

   <div style="display: inline-block">
      <label for="endDate">End Date/Time:</label>
      <div date-picker="settings.endDate"></div>
   </div>

   <br /><br />

   <input type="submit" value="Search" ng-click="search()" style="font-size: 0.8em" />
</article>
-->

<section class="results">
   <h2>Search Results</h2>
   <ng:include src="'./partials/recordings.tmpl.html'" />
</section>
